{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<br/>
<div class="alert alert-dark" role="alert" style="text-align:center"><b> <a>عن المشروع</a></b></div>
<div class="card text-white bg-dark" >
  <div class="card-body ">

    إن قطاع إدارة تحقيق المخالفات قطاع من إدارات الإدارة العامة للمرور، ومهمته تكمن في تحقيق المخالفات والفصل فيها إذا كانت كيدية أم حقيقية، بحيث تقوم الإدارة بالاستيضاح من صحة تلك المخالفة وقانونيتها، وهل هناك أمور شخصانية؟ وبعد التأكد من صحتها فإما أن تنتهي بالصلح وإما إحالتها الى الادعاء، بالإضافة إلى حجز المركبات وكيفية التعامل مع المخالفات، وحق المخالف في التظلم والاعتراض، وكيفية احتساب النقاط على المخالفين، والحد الذي تسحب عنده رخصة المخالف، مشيرا في حديثه إلى التركيز على الوعي لدى مستخدمي الطريق وإعطاء المزيد من الثقافات المرورية للحد من الحوادث وتقليل الوفيات والازدحام، مؤكدا أن الإدارة العامة للمرور تقوم بجهود مضنية للتعامل مع القضية المرورية من مختلف الأبعاد بشفافية ووضوح، وخاصة الحقائق التي يتم التوصل إليها من خلال البحوث والدراسات المرورية

    وكانت هذه الفكرة من الأفكار التي اهتم بها وكيل وزارة الداخلية الفريق سليمان الفهد، ونسعى إلى تنفيذها قريبا، بهدف القضاء على المخالفات الورقية، وسوف يكون هناك في المستقبل جهاز يقوم من خلاله رجال المرور بتسجيل المخالفات، كما يستطيع هذا الجهاز أن يقرأ صحة الرخصة وبيانات المركبة سواء كانت مزورة أو حقيقية، وبالتالي دخول المخالفة في الحاسب الآلي مباشرة التابع للإدارة العامة للمرور، كما أن هناك دراسة لتوفير أجهزة لدفع المخالفات وتحصيلها في الأسواق تسهيلا على المواطنين والمقيمين وبالتالي لا يستدعي الذهاب الى إدارات المرور وتوفير الجهد والوقت معا.






  </div>

  </div>
{% endblock %}
